/* h2{
    text-align: center;
    font-size: 17px;
}

p{
    margin: 0;
}


.contenedor{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}


aside{
    width: 150px;
    height: 600px;
    background-color: white;
    position: absolute;

}


.banner{
    height: 200px;
    background-color :rgb(105, 54, 105);
    padding-top: 75px;
}

h1{
    color: white;
} */




*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    margin: 0;
}



a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: rgb(255, 0, 0);
}



header{
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.418);
    padding: 10px 0;
}


header nav{
    display: flex;
    justify-content: space-between;
    margin: 0 60px;
}

header nav div{
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

img{
  width: 150px;
  height: 450px;
}

.header-img{
    width: 100px;
    height: 100px;
}



#cuenta-carrito{
    background-color: red;
    border-radius: 100%;
    display: inline-block;
    width: 20px;
    line-height: 20px;
    aspect-ratio: 1;
    text-align: center;
    position: absolute;
    color: white;
}




header nav img{
    height: 30px;
    width: 30px;
}


















.shop-content{
display: flex;
justify-content: space-around;
flex-wrap: wrap;
margin-top: 30px;
margin-left: 80px;
margin-right: 80px;
}

.articulo{
    max-width: 300px;
    margin: 20px;
    text-align: center;
    background-color: white;
}



h3{
    font-size: 17px;
}
.precio{
    font-size: 20px;
}




button{
    border-radius: 5px;
    font-size: 15px;
}





/* FOOTER */
footer{
    background-color: rgb(44, 42, 42);
    height: 100px;
}

footer p{
    color: white;
    text-align: center;
    padding-top: 40px;
}



/* .sublista{
    display: none;
} */