h2{
    text-align: center;
    font-size: 17px;
}

p{
    margin: 0;
}


.contenedor{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}


aside{
    width: 150px;
    height: 600px;
    background-color: white;
    position: absolute;

}


.banner{
    height: 200px;
    background-color :rgb(105, 54, 105);
    padding-top: 75px;
}

h1{
    color: white;
}